{% extends 'pages/model-bootstrap.html'%}
{% load static %}


{% block title %}
<h1>Lista de vícios cadastrados</h1>
<p></p>
{% endblock %}

{% block content %}

<div class="table-responsive">

    <div class="pb-2">
        <a href="{% url 'register-addiction'%}"><button class="btn btn-primary">Adicionar</button></a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Nome do vício</th>
            <th>Tipo do vício</th>
            <th>Sem-teto</th>
            <th>Opição</th>
        </tr>
        {% for addiction in object_list%}
        <tr>
            <td> {{addiction.name_addiction}} </td>
            <td> {{addiction.type_addiction}} </td>
            <td> {{addiction.homeless}} </td>
            <td>
                <a href="{% url 'edit-addiction' addiction.pk %}"><button class="btn btn-warning btn-sm"><img src="/static/img/edit-3.svg" alt="" title="Editar">Editar</button></a>
                <a href="{% url 'delete-addiction' addiction.pk %}"><button class="btn btn-danger btn-sm" style="color: #000"><img src="/static/img/trash.svg" alt="" title="Deletar">Deletar</button></a>
            </td>

        </tr>


        {% empty %}

        <tr>
            <td colspan="4">Without register</td>
        </tr>

        {% endfor %}



    </table>

</div>
{% endblock %}