{% extends 'pages/model-bootstrap.html'%}
{% load static %}


{% block title %}
<h1>List addiction of registered</h1>
<p></p>
<a href="{% url 'register-addiction'%}"><img src="/static/img/plus-square.svg" alt="" class="img-plus"></a> ADD
{% endblock %}

{% block content %}


<div class="table-responsive">

    <table class="table table-striped">
        <tr>
            <th>Name addiction</th>
            <th>Type addiction</th>
            <th>Homeless</th>
            <th>Option</th>
        </tr>
        {% for addiction in object_list%}
        <tr>
            <td> {{addiction.name_addiction}} </td>
            <td> {{addiction.type_addiction}} </td>
            <td> {{addiction.homeless}} </td>
            <td>
                <a href="{% url 'edit-addiction' addiction.pk %}"><img src="/static/img/edit.svg" alt="" title="Edit"></a>
                <a href="{% url 'delete-addiction' addiction.pk %}"><img src="/static/img/trash.svg" alt="" title="Delete"></a>
            </td>

        </tr>


        {% empty %}

        <tr>
            <td colspan="4">Without register</td>
        </tr>

        {% endfor %}



    </table>

</div>
{% endblock %}