{% extends 'pages/model-bootstrap.html'%}

{% load static %}

{% block title %}
<h1>Lista de de todas os sem-tetos cadastrados</h1>
<p></p>
{% endblock %}

{% block content %}
<div class="pb-2">
    <a href="{% url 'register-homeless'%}"><button class="btn btn-primary">Adicionar</button></a>
</div>
<div class="table-responsive table-responsive-sm">
    <table class="table table-striped table-sm">
        <tr>
            <th>Priemiro nome</th>
            <th>Segundo nome</th>
            <th>Apelido</th>
            <th>Data de aniversário</th>
            <th>Genero</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Órgão expedidor</th>
            <th>Altura</th>
            <th>Peso</th>
            <th>Tipo sanguíneo</th>
            <th>Nacionalidade</th>
            <th>Sobre</th>
            <th>Data de registro</th>
            <th>Opição</th>
        </tr>

        {% for homeless in object_list %}
        <tr>

            <td> {{ homeless.frist_name }} </td>
            <td> {{ homeless.second_name }} </td>
            <td> {{ homeless.nickname }} </td>
            <td> {{ homeless.birth_date }} </td>
            <td> {{ homeless.gender }} </td>
            <td> {{ homeless.cpf }} </td>
            <td> {{ homeless.rg }} </td>
            <td> {{ homeless.issuing_body }} </td>
            <td> {{ homeless.height }} </td>
            <td> {{ homeless.weight }} </td>
            <td> {{ homeless.blood_type }} </td>
            <td> {{ homeless.nationality }} </td>
            <td> {{ homeless.about }} </td>
            <td> {{ homeless.registration_date }} </td>
            <td>
                <a href="{% url 'edit-homeless' homeless.pk %}"><button class="btn btn-warning btn-sm"><img src="/static/img/edit-3.svg" alt="" title="Editar">Editar</button></a>
                <a href="{% url 'delete-homeless' homeless.pk %}"><button class="btn btn-danger btn-sm" style="color: #000"><img src="/static/img/trash.svg" alt="" title="Deletar">Deletar</button></a>
            </td>

        </tr>

        {% empty %}
        <tr>
            <td colspan="13">Without register</td> 
        </tr>

        {% endfor %}


    </table>
</div>
{% endblock %} 