{% extends 'pages/model-bootstrap.html'%}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<h1>{{ title }}</h1>
<p>Preencha os campos obrigatório (*)</p>
{% endblock %}

<hr>

{% block content %}


    <form action="" method="POST">
        
        {% csrf_token %}

        {{ form|crispy}}
        <br>
        <a href="{% url 'register-about'%}" target="_blank"><button type="button" class="btn btn-primary">Descrição</button></a>
        <br>

        <div class="pt-4 pb-5">
            <button type="submit" class="btn btn-success">
                {{ button }}
            </button>
            <button type="submit" class="btn  btn-secondary" onclick="window.history.go(-1); return false;">
                Cancela
            </button>
        </div>
         
    </form>


{% endblock %}

{% block script %}
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static 'js/jquery.mask.min.js'%}"></script>
<script src="{%static 'js/jquery-3.5.1.min.js'%}"></script>
<script src="{%static 'js/jquery.mask.min.js'%}"></script>
<script src="{%static 'js/mask.js'%}"></script>
{% endblock %}