{% extends 'pages/model.html'%}

{% load static %}

{% block title %}
<h1>{{ title }}</h1>
<p>Confirm registration to be permanently deleted</p>
{% endblock %}

<hr>

{% block content %}

    <form action="" method="POST" class="form">

        <p> 
            Do you want to delete the register {{ object }}?
        </p>
        
        {% csrf_token %}
        
        {{ form.as_p}}

        <button type="submit" class="btn-delete">Delete</button>
        <button type="submit" class="btn-cancel" onclick="window.history.go(-1); return false;">
            Cancel
        </button>
    </form>


{% endblock %}