{% extends 'pages/model.html'%}

{% load static %}

{% block title %}
<h1>{{ title }}</h1>
<p>Confirme o cadastro para ser excluído permanentemente</p>
{% endblock %}

<hr>

{% block content %}

    <form action="" method="POST" class="form">

        <p> 
            Tem certeza que deseja excluir esse registro?  {{ object }}
        </p>
        
        {% csrf_token %}
        
        {{ form.as_p}}

        <button type="submit" class="btn btn-danger">Delete</button>
        <button type="submit" class="btn btn-secondary" onclick="window.history.go(-1); return false;">
            Cancel
        </button>
    </form>


{% endblock %}