*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
}
input{
    border: 0;
}

/* Header ==================*/
header{
    width:100%;
    background-color: #20698D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding:11px
}
.link-home{
    text-decoration: none;
}
#logo{
    padding:0.7rem;
    color: #E5E5E5;
    font-weight: bold;
    font-size: 2rem;
    display: inline;

}

.container{
    margin:auto
}
.img-login{
    display: block;
    margin: auto;
    padding-top: 2px;
}

/* Main ==================*/

.card{
    text-align: center;
    padding-bottom: 10px;
}
p{
    padding-bottom: 3px;
    margin-right: 97px;
}
p label{
    margin-right: 5px;
}




.card input{
    width: 390px;
    padding: 20px;
    margin-right: 20px;
    
}

::-webkit-input-placeholder {
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 33px;

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.5);
}

.buttons {
    text-align: center;
}
.buttons button{
    width: 193px;
    height: 61px;
    border:0;
    padding:20px
}

.buttons input{
    width: 193px;
    height: 61px;
    border:0;
    padding:20px;
}
.login{
    background: #D37506;
}
.sign-up{
    background: rgba(42, 88, 46, 0.71);
}
.forgot-password{
    text-align: center;
}
.forgot-password{
    text-align: center;
    padding-top: 10px;
}

.forgot-password input{
    width: 390px;
    padding: 20px;
    background: rgba(34, 102, 136, 0.6);
    font-weight: bold;
}

/* img ==================*/
.img{
    position:absolute;
    display: block;
    margin: auto;
    padding-top: 29px;
    padding-left: 350px;
}
.img img{
    max-width: 100%;
    opacity : 0.5
}

/* Footer ==================*/
footer{
    margin-top:250px;
    text-align: center;
    background: #20698D;
    padding: 3px;
}
footer p{
    padding-top:10px;
    color: #E5E5E5;
}
footer img{
    padding-top:0.5rem;
}

@media only screen and (max-width: 600px){
    .img {
        width:0;
        height: 0;
    }
    .card input{
        width:300px;
    }
    .forgot-password input{
        width:300px;
    }
    .buttons input{
        width: 96.5px;
    }
    p{
        padding-bottom: 0px;
        margin-right: 0px;
    }
    .card input{
        margin-right: 25px;
        
    }
    .buttons button{
        width: 96px;
    }
    .forgot-password input{
        width: 195px;
    }
}
@media only screen and (max-width: 1024px){
    .img {
        width:0;
        height: 0;
    }

    
    .card input{
        margin-right: 25px;
        
    }
}
@media only screen and (max-width: 280px){
    .card input{
        width:150px;
    }
    .forgot-password input{
        width:150px;
    }
    .buttons input{
        width: 48,25px;
    }
    footer{
        padding-bottom: 65px;
    }
    p{
        padding-bottom: 0px;
        margin-right: 0px;
    }
    
    .card input{
        margin-right: 25px;
        
    }
}
