*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: #20698D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding:16px;
}
a{
    text-decoration: none;
}
#logo{
    padding:0.7rem;
    color: #E5E5E5;
    font-weight: bold;
    font-size: 2rem;
    display: inline;
    
}
header img{
    margin-top:9px;
    margin-right: 50px;
}


.container{
    width: min(80vw, 10000px);
    margin:auto
}
.container h1{
    padding-top: 1rem;
    font-style: normal;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.4rem;
    letter-spacing: -0.015em;

    color: #143120;
}
.container p{
    padding-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;

    color: #47954F;
} 



.content{
    text-align: center;
    
}


.form  input{
    width:400px;
    height: 30px;
    border: 0;

}
.form select{
    margin-top:10px;
    width:400px;
    height: 30px;
    border: 0;
}
.form textarea {
    width: 400px;
    height: 100px;
    resize: none;
    border: 0;
}



.btn-primary{
    background:#47954F;
    padding-left: 50px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 50px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
}
label{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1024px){
    .form  input{
        width: 200px; 
    }
    .form select{
        width:200px;
    }
    .form textarea {
        width:200px;
    }
    .content{
        margin-top: 100px; 
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
    .form  input{
        width: 400px; 
    }
    .form select{
        width:400px;
    }
    .form textarea {
        width:400px;
    }
}