*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: #20698D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding:16px;
}
a{
    text-decoration: none;
}
.a{
    margin-left:500px;
}
#logo{
    padding:0.7rem;
    color: #E5E5E5;
    font-weight: bold;
    font-size: 2rem;
    display: inline;
    
}
header img{
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 10px;
}


.container{
    width: min(80vw, 10000px);
    margin:auto
}
.container h1{
    padding-top: 1rem;
    font-style: normal;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.4rem;
    letter-spacing: -0.015em;

    color: #143120;
}
.container p{
    padding-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;

    color: #47954F;
} 



.content{
    width: min(80vw, 10000px);
    margin:auto  
}

.btn-register{
    background:#47954F;
    padding-left: 50px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 50px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-delete{
    background:#F00;
    padding-left: 50px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 50px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}
.img-dropdown-menu{
    margin:0px;
    margin-right: 5px;
}

.img-plus{
    margin-bottom: 8px;
}

@media only screen and (max-width: 1024px){
    .a{
        margin-left:0;
    }
    
}


