{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMdR</title>
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="link-home"><h2 id="logo">CMdR</h2></a>
    </header>
    <main class="container">
        {% if request.user.is_authenticated %}


            <h1 style="text-align:center; margin-top:50px" >Action unavailable!</h1>
            <p style="text-align:center; margin:0">Access level does not allow this action</p>

            {% else %}
            <div class="img-login">
                <img class="img-login" src="/static/img/login.svg" alt="">
            </div>
            <section class="card">

                
                
                

            <form id="formm" script="remover" action="" method="POST">

                {% csrf_token %}

                {{ form.as_p}}
                


            <div class="buttons" style="margin-right:30px;">
                <button class="login">Log in</button>
            </form>
                
            </div>
            <div class="forgot-password">
                <a href="{% url 'register-user' %}"><button class="sign-up">Cerate User</button></a>
                <a href=""><button>Forgot Password"</button></a>
            </div>
            <div class="img">
                <img src="/static/img/home3.png" width="800" alt="">
            </div>
        </main>
        <footer>
            <p>App desenvolvido por João Marcos Neves da Silva</p>
            <a href="https://www.instagram.com/1joao_marcos2/" target="_blank"><img src="/static/img/instagram.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-marcos-neves-da-silva-7a2a39173/" target="_blank"><img src="/static/img/linkedin.svg" alt=""></a>
            <a href="https://github.com/JOaOMARcosNs" target="_blank"><img src="/static/img/github.svg" alt=""></a>
            <a href="https://www.freepik.com/macrovector" target="_blank"><img src="/static/img/image.svg" alt=""></a>
        </footer>
    {% endif %}
</body>
</html>