{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/model.css'%}">
    <title>CMdR</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light nav-color">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand title-fonte" style="color:#E5E5E5;" href="{% url 'index'%}">CMdR</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link fonte" aria-current="page" style="color:#E5E5E5;" href="{% url 'list-homeless' %}">Sem-teto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fonte" aria-current="page" style="color:#E5E5E5;" href="{% url 'list-about' %}">Sobre os sem-teto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fonte" aria-current="page" style="color:#E5E5E5;" href="{% url 'list-nationality' %}">Nacionalidade</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fonte" aria-current="page" style="color:#E5E5E5;" href="{% url 'list-disease' %}">Doenças dos sem-tetos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fonte" aria-current="page" style="color:#E5E5E5;" href="{% url 'list-addiction' %}">Vicios dos sem-tetos</a>
                  </li>
                </ul>


                <div class="dropdown" style="padding-right: 49px;">
                  <button class="btn btn-secondary dropdown-toggle" style="border-color:#E5E5E5 ;background-color: #20698D; color:#E5E5E5;" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuário
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="{% url 'edit-profile'%}"><button class="dropdown-item" type="button">Meus dados</button></a></li>
                    <li><a href="{% url 'password-chage'%}"><button class="dropdown-item" type="button">Muda senha</button></a></li>
                    <li><a href="{% url 'logout'%}"><button class="dropdown-item" type="button">Sair</button></a></li>
                  </ul>
                </div>

              </div>
            </div>
          </nav>
    </header>

    <main class="container">
        <h1>Mudar meus dados</h1>
        <p>Peencha todos os campors obrigatorios!</p>
        <div>
            <form action="" method="POST">
        
                {% csrf_token %}
        
                {{ form|crispy}}
                <p>Para alterar a sua senha <a href="{% url 'password-chage'%}">clique aqui</a></p>
                <br>
        
                <button type="submit" class="btn btn-success">
                    Salvar
                </button>
                
                <button type="submit" class="btn  btn-secondary" onclick="window.history.go(-1); return false;">
                    Cancela
                </button>
            </form>
        </div> 
    </main>

    <footer>
        <div class="container-fluid text-center p-3">
            <div class="row">
                <div class="col-md-4 mx-auto text-center">
                    <p>
                        <span class="footer-text">©2021 João Marcos Neves da Silva</span>
                    </p>

                    <a href="https://github.com/JOaOMARcosNs"><img src="/static/img/github.svg" alt="github"></a>
                    <a href="https://www.linkedin.com/in/jo%C3%A3o-marcos-neves-da-silva-7a2a39173/"><img src="/static/img/linkedin.svg" alt="linkedin"></a>

                </div>
                </p>
            </div>
    </footer>

</body>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

</html>