{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMdR</title>
    <link rel="stylesheet" href="{% static 'css/home-home-styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#"><h2 id="logo">CMdR</h2></a>
        <div >
            <a href="#"><img class="login" src="/static/img/log-out.svg" alt=""></a>
            <a href="#"><img src="/static/img/plus-square.svg" alt=""></a>
        </div>
    </header>

    <main class="container">
        <h1>Don't just be one<br/> more, remember<br/> the homeless</h1>
        <h3>Use our website to help them and sponsors</h3>
        <img src="/static/img/home3.png" width="1106" height="" alt="">
    </main>
    <footer>
        <p>App desenvolvido por João Marcos Neves da Silva</p>
        <a href="https://www.instagram.com/1joao_marcos2/" target="_blank"><img src="/static/img/instagram.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/jo%C3%A3o-marcos-neves-da-silva-7a2a39173/" target="_blank"><img src="/static/img/linkedin.svg" alt=""></a>
        <a href="https://github.com/JOaOMARcosNs" target="_blank"><img src="/static/img/github.svg" alt=""></a>
        <a href="https://www.freepik.com/macrovector" target="_blank"><img src="/static/img/image.svg" alt=""></a>    
    </footer>
</body>
</html>