<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMdR</title>
    <link rel="stylesheet" href="model-styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#"><h2 id="logo">CMdR</h2></a>
        <div >
            <a href="#"><img class="login" src="../img/log-out.svg" alt=""></a>
        </div>
    </header>

    <main class="container">
        <h1>Nome do Formulario</h1>
        <p>Peencha todos os campors obrigatorios!</p>
    </main>

    <footer>
        <p>App desenvolvido por João Marcos Neves da Silva</p>
        <a href="https://www.instagram.com/1joao_marcos2/" target="_blank"><img src="../img/instagram.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/jo%C3%A3o-marcos-neves-da-silva-7a2a39173/" target="_blank"><img src="../img/linkedin.svg" alt=""></a>
        <a href="https://github.com/JOaOMARcosNs" target="_blank"><img src="../img/github.svg" alt=""></a>
        <a href="https://www.freepik.com/macrovector" target="_blank"><img src="../img/image.svg" alt=""></a>    
    </footer>
</body>
</html>